{% extends "base.html" %}

{% block content %}
<style>
    .profile-flex-container {
        display: flex;
        justify-content: space-between;
    }
    .profile-card, .profile-accordion {
        flex: 1;
        max-width: 48%;
        margin: 0.5%;
    }
    .profile-accordion .accordion-item {
        margin-bottom: 1rem;
    }

</style>

<div class="card">
    <h5 class="card-header bg-primary-subtle">Profile Overview</h5>
    <div class="card-body">
        <h5 class="card-title">Hi there,<strong> {{ user.first_name }}</strong></h5>
        <p class="card-text">Stay updated on your IT support requests and streamline your tasks.</p>
        <a href="{% url 'viewreview' username=request.user.username %}" class="btn btn-primary">
            Go to Dashboard <i class="fas fa-arrow-right"></i>
        </a>
    </div>
</div>
<br>

<div class="profile-flex-container">
    <div class="card mb-3 profile-card">
        <div class="card-header bg-primary-subtle">Profile Credentials</div>
        <div class="card-body">
            <h5 class="card-title">User:</h5> 
            {% if user.is_superuser %}
                <p class="card-text">Admin</p>
            {% else %}
                <p class="card-text">Employee</p>
            {% endif %}

            <h5 class="card-title">Employee ID:</h5> 
            <p class="card-text">{{ user.username }}</p>

            <h5 class="card-title">Name:</h5> 
            <p class="card-text">{{ user.get_full_name }}</p>

            <h5 class="card-title">Email:</h5> 
            <p class="card-text">{{ user.email }}</p>
        </div>
    </div>

    <div class="accordion profile-accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    1. How Can I Submit and Monitor My IT Requests?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionPanelsStayOpenExample">
                <div class="accordion-body">
                    <strong> Submitting an IT Request </strong> </br>
                    Simply navigate to the "Submit" section, fill in the required details, and click "Request". Ticket No. will also be sent to your email. </br> </br>

                    <strong> Monitoring Your Requests </strong> </br>
                    You can monitor the status of your IT requests through the "View" dashboard. This section provides updates on the progress and current status of each request you have submitted.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    2. Can I Cancel My IT Request?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionPanelsStayOpenExample">
                <div class="accordion-body">
                    <strong> Cancellation Policy </strong> </br>
                    You can cancel your IT request only if its status is<code> "Waiting."</code> Once the request moves to<code> "Pending"</code> or<code> "Completed"</code>, cancellation is no longer possible. </br> </br>
                    <strong> How to Cancel a Request </strong> </br>
                    To cancel a request, go to the "View" dashboard, find the request with the<code> "Waiting"</code> status, and select the<code> "Cancel"</code> option. This action will remove the request from the active list and move it to the history section.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    3. What Happens to Completed and Closed Requests?
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionPanelsStayOpenExample">
                <div class="accordion-body">
                    <strong> Request Status Management </strong> </br>
                    Admins are responsible for updating the status of IT requests to ensure accurate tracking and progress updates. Employees can also mark their completed requests as<code> "Closed"</code>. </br> </br>

                    <strong> Closing Completed Requests </strong> </br>
                    Once a request is marked as<code> "Completed"</code>, it can be closed by either the admin or the employee. When a request is closed, its status is updated to<code> "Closed"</code> and it is moved to the history section.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
