{% extends "base.html" %}



{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">IT Request Form</h1>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_department">Department:</label>
                        {{ form.department }}
                    </div>
                    <div class="form-group">
                        <label for="id_eq_name">Equipment Name:</label>
                        {{ form.eq_name }}
                    </div>
                    <div class="form-group">
                        <label for="id_eq_type">Equipment Type:</label>
                        {{ form.eq_type }}
                    </div>
                    <div class="form-group">
                        <label for="id_issue">Issue:</label>
                        {{ form.issue }}
                    </div>
                    <div class="form-group">
                        <label for="id_description">Description:</label>
                        {{ form.description }}
                    </div>
                    <div class="form-group">
                        <label for="id_upload">Attachment (Optional):</label> 
                        <p class="fw-semibold fs-6">Please upload PNG or JPG files for single attachments. If multiple files are required, please compile and upload them in PDF format.</p>
                        {{ form.upload }}
                       
                    </div>

                    
                    
                    
                 
                    </br>
                    <button type="submit" class="btn btn-primary">Request</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}