{% extends "base.html" %}

{% block content %}

<style>

    .modal-body {
        white-space: pre-wrap; /* Ensure long text in modal is wrapped */
        word-wrap: break-word;
    }
   
    .container-fluid {
        position: relative;
        padding: 0;
        z-index: 600; /* Lower than sidebar and overlay */
           

    }
    .card {
        border: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .card-header {
        background-color: #f8f9fa;
        border-bottom: 1px solid #dee2e6;
        font-weight: bold;
    }
    .table {
        width: 100%;
        border-collapse: collapse;    
        margin-top: 100px;
    }
    .table th,
    .table td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #dee2e6;
    }
    .table th {
        background-color: #f8f9fa;
        font-weight: bold;
        text-transform: uppercase;
    }
    .table tbody tr:hover {
        background-color: #f1f1f1;
    }
    .btn-link {
        color: #007bff;
        cursor: pointer;
    }
    .no-underline {
        color: #007bff;
        text-decoration: none;
        cursor: pointer;
    }
    .btn-status {
        width: 120px; /* Adjust this value as needed */
    }
    
    .btn-status1 {
        width: 150px; /* Adjust this value as needed */
    }
    
    .btn-group {
        width: 150px; /* Adjust this value as needed */
    }

    .btn-bc {
        width: 200px; /* Adjust this value as needed */
    }

    

</style>


<div class="container-fluid px-4">
    <h1 class="mt-4 mb-4">Employee Dashboard</h1>
    <div class="d-flex justify-content-between align-items-center mb-4">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item active">Please refer to this table to track the progress and approval of your requests.</li>
        </ol>
        <div>
            <a href="{% url 'submitrequest' username=request.user.username %}" class="btn btn-primary btn-bc mr-2">
                <i class="fas fa-plus"></i> Submit Request
            </a>
            <a href="{% url 'viewhistory' username=request.user.username %}" class="btn btn-light btn-bc">
                <i class="fas fa-clock"></i> Check History
            </a>
        </div>
    </div>
</div>
    
</br>
    <div class="card mb-4">
        <div class="card-header bg-primary-subtle">
            <i class="fas fa-table me-1"></i>
            Your Request Lists
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="it-request-table" class="hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>RTN#</th>    
                            <th>Requested At</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for it_request in it_requests %}
                            {% if it_request.status == "Waiting" or it_request.status == "Pending" or it_request.status == "Completed" or it_request.status == "Closed_By_Admin" or it_request.status == "Cancelled_By_Admin" %}
                            <tr>
                                <td data-label="RTN#">
                                    <button class="btn btn-link" 
                                        onclick="showAllDetails(
                                            '{{ it_request.id }}',
                                            '{{ it_request.user.first_name }} {{ it_request.user.last_name }}',
                                            '{{ it_request.user.email }}',
                                            '{{ it_request.user.username }}',
                                            '{{ it_request.department }}',
                                            '{{ it_request.eq_name }}',
                                            '{{ it_request.eq_type }}',
                                            '{{ it_request.description|escapejs }}',
                                            '{% if it_request.upload %}{{ it_request.upload.url }}{% else %}{% endif %}'
                                        )">
                                        {{ it_request.id }}
                                    </button>
                                </td>
                                
                                <td data-label="Requested At">{{ it_request.formatted_requested_at }}</td>
                                <td data-label="Status">
                                    {% if it_request.status == 'Waiting' %}
                                        <button type="button" class="btn btn-secondary btn-status">Waiting</button>
                                    {% elif it_request.status == 'Pending' %}
                                        <button type="button" class="btn btn-warning btn-status">Pending</button>
                                    {% elif it_request.status == 'Closed_By_Admin' or it_request.status == 'Completed' %}
                                        <button type="button" class="btn btn-success btn-status">Completed</button>
                                    {% else %}
                                        <button type="button" class="btn btn-success btn-danger">Cancelled</button>
                                    {% endif %}
                                </td>
                                    
                                <td data-label="Action"> 
                                    {% if it_request.status == 'Waiting' %}
                                            <button type="button" class="btn btn-outline-danger btn-status1" onclick="confirmCancel({{ it_request.pk }})">Cancel</button>
                                    {% elif it_request.status == 'Cancelled_By_Admin'%}
                                            <button type="button" class="btn btn-outline-danger btn-status1" onclick="confirmCancelClose({{ it_request.pk }})">Close</button>
                                    {% elif it_request.status == 'Completed' or it_request.status == 'Closed_By_Admin'%}
                                            <button type="button" class="btn btn-outline-danger btn-status1" onclick="confirmClose({{ it_request.pk }})">Close</button>
                                    {% else %}
                                            None
                                    {% endif %}  
                                </td> 
                                                        
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Combined Details Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">RTN# </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="detailsModalBody">
                <h6>Requestor Details</h6>
                <dl class="row">
                    <dt class="col-sm-4">Full Name:</dt>
                    <dd class="col-sm-8" id="requestorFullName"></dd>

                    <dt class="col-sm-4">Email:</dt>
                    <dd class="col-sm-8" id="requestorEmail"></dd>

                    <dt class="col-sm-4">Employee ID:</dt>
                    <dd class="col-sm-8" id="requestorEmployeeId"></dd>

                    <dt class="col-sm-4">Department:</dt>
                    <dd class="col-sm-8" id="requestorDepartment"></dd>
                </dl>
                <h6>Request Details</h6>
                <dl class="row">
                    <dt class="col-sm-4">Equipment:</dt>
                    <dd class="col-sm-8" id="issueEqName"></dd>

                    <dt class="col-sm-4">Equipment Type:</dt>
                    <dd class="col-sm-8" id="issueEqType"></dd>

                    <dt class="col-sm-4">Description:</dt>
                    <dd class="col-sm-8" id="issueDescription"></dd>

                    <dt class="col-sm-4">Attachment:</dt>
                    <dd class="col-sm-8" id="issueUpload"></dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- CANCEL MODAL -->
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelModalLabel">Confirm Cancellation</h5>
            </div>
            <div class="modal-body" style="text-align: center;">
                <p>Are you sure you want to cancel this request? This request will be moved to history.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" id="confirmCancelBtn">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- CANCEL CLOSE MODAL -->
<div class="modal fade" id="cancelCloseModal" tabindex="-1" role="dialog" aria-labelledby="cancelCloseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelCloseModalLabel">Close Request</h5>
            </div>
            <div class="modal-body" style="text-align: center;">
                <p>Are you sure you want to close this request? This request will be moved to history.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" id="confirmCancelCloseBtn">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- CLOSE MODAL -->
<div class="modal fade" id="closeModal" tabindex="-1" role="dialog" aria-labelledby="closeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="closeModalLabel">Close Request</h5>
            </div>
            <div class="modal-body" style="text-align: center;">
                <p>Are you sure you want to close this request? This request will be moved to history.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" id="confirmCloseBtn">Yes</button>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    var isSuperuser = {{ request.user.is_superuser|yesno:"true,false" }};
    var csrfToken = '{{ csrf_token }}';
</script>

<!-- UPDATE MODAL JS -->
<script>
    let requestIdToCancel = null;
    let requestIdToCancelClose = null;
    let requestIdToClose = null;

    function confirmCancel(requestId) {
        requestIdToCancel = requestId;
        $('#cancelModal').modal('show');
    }

    function confirmCancelClose(requestId) {
        requestIdToCancelClose = requestId;
        $('#cancelCloseModal').modal('show');
    }

    function confirmClose(requestId) {
        requestIdToClose = requestId;
        $('#closeModal').modal('show');
    }

    document.getElementById('confirmCancelBtn').addEventListener('click', function () {
        if (requestIdToCancel) {
            const form = document.createElement('form');
            form.method = 'POST';

            // Set the form action URL based on user status
            if (isSuperuser) {
                form.action = `/it_request/${requestIdToCancel}/cancel/admin/`;
            } else {
                form.action = `/it_request/${requestIdToCancel}/cancel/employee/`;
            }

            const csrfToken = document.createElement('input');
            csrfToken.type = 'hidden';
            csrfToken.name = 'csrfmiddlewaretoken';
            csrfToken.value = '{{ csrf_token }}';  // Ensure you pass the CSRF token here

            form.appendChild(csrfToken);
            document.body.appendChild(form);
            form.submit();
        }
    });

    document.getElementById('confirmCancelCloseBtn').addEventListener('click', function () {
        if (requestIdToCancelClose) {
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = `/it_request/${requestIdToCancelClose}/cancel/employee/`;
            const csrfToken = document.createElement('input');
            csrfToken.type = 'hidden';
            csrfToken.name = 'csrfmiddlewaretoken';
            csrfToken.value = '{{ csrf_token }}';  // Ensure you pass the CSRF token here

            form.appendChild(csrfToken);
            document.body.appendChild(form);
            form.submit();
        }
    });



    document.getElementById('confirmCloseBtn').addEventListener('click', function () {
        if (requestIdToClose) {
            const form = document.createElement('form');
            form.method = 'POST';

             // Set the form action URL based on user status
             if (isSuperuser) {
                form.action = `/it_request/${requestIdToClose}/close/admin/`;
            } else {
                form.action = `/it_request/${requestIdToClose}/close/employee/`;
            }
            const csrfToken = document.createElement('input');
            csrfToken.type = 'hidden';
            csrfToken.name = 'csrfmiddlewaretoken';
            csrfToken.value = '{{ csrf_token }}';  // Ensure you pass the CSRF token here

            form.appendChild(csrfToken);
            document.body.appendChild(form);
            form.submit();
        }
    });
</script>



{% endblock %}